<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>{% block title %}{% endblock %} - temp_sensor</title>
	
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/thumbnail-gallery.css') }}" rel="stylesheet">

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
	<script type=text/javascript src="{{
		url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
	<script type=text/javascript src="{{
		url_for('static', filename='js/popper.min.js') }}"></script>
	<script type=text/javascript src="{{
		url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<script>
		$(document).ready(function() {
			// Change the alert background color to 'success' if the text contains 'success'
			var alerts = $('.alert');
			var success = alerts.text().indexOf("success");
			if (success > 0) {
				alerts.attr({"class" : "alert alert-success alert-dismissible"});
			};
			
			// Handle the nav active state
			$('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
		});

	</script>

	{% block headscripts %}{% endblock %}
</head>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
	<div class="container-fluid" style="min-height:100%">
		<a class="navbar-brand" href="#">laserchicken.win</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				{% if g.user %}
				<li class="nav-item">
					<a class="nav-link"><span class="text-info">{{ g.user['username'] }}</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
				</li>
				{% endif %}
				{% block navlink %}{% endblock %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('monitor.index') }}">Monitor</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link" href="{{ url_for('monitor.show_gallery') }}">Gallery</a>
				</li> -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Gallery
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ url_for('monitor.show_gallery', format='JPEG') }}">Images</a>
						<a class="dropdown-item" href="{{ url_for('monitor.show_gallery', format='MP4') }}">Videos</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
<section class="content">
	<header>
		{% block header %}{% endblock %}
	</header>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	
	{% block content %}{% endblock %}
	
</section>