{% extends 'base.html' %}

{% block headscripts %}
	<link href="{{ url_for('static', filename='css/bokeh-0.12.16.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bokeh-widgets-0.12.16.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bokeh-tables-0.12.16.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/fa-svg-with-js.css') }}" rel="stylesheet">

	<script type="text/javascript" src="{{
		url_for('static', filename='js/bokeh-0.12.16.min.js') }}"></script>
	<script type="text/javascript" src="{{
		url_for('static', filename='js/bokeh-widgets-0.12.16.min.js') }}"></script>
	<script type="text/javascript" src="{{
		url_for('static', filename='js/bokeh-tables-0.12.16.min.js') }}"></script>
	<script type="text/javascript" src="{{
		url_for('static', filename='js/bokeh-gl-0.12.16.min.js') }}"></script>
	<script type="text/javascript">
		Bokeh.set_log_level("info");
	</script>
	<script type="text/javascript" src="{{
		url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
	<script type="text/javascript" src="{{
		url_for('static', filename='js/fontawesome-all.min.js') }}"></script>
	
	

	
	<div id="p_s_div">
		{{ plot_script | safe }}
	</div>
	
	
	<script>
		$(document).ready(function(){
			console.log("pollfreq:" + {{ pollfreq }})
			var interval = {{ pollfreq }} * 1000;
			// CURRENT TEMP
			setInterval(function() {
				var dat = {'j' : 2};
				$.ajax({
					url: "/monitor/data",
					method: 'POST',
					data: dat,
					dataType: 'json',
					success: function(result) {
						var date = moment(result.x, "YYYY-MM-DD HH:mm:ss");
						var temp = result.y;
						temp = parseFloat(Math.round(temp * 100) / 100).toFixed(2);
						//$("#currspin").attr({"style" : "display: none;"});
						$("#currspin").hide();
						//$("#curr").attr({"class" : "col-4 bg-info text-white"});
						$("#currtext").text("Last temp (F): ");
						$("#currtemp").html(temp);
						$("#currdate").html(date.format("ddd, MMM D, h:mm:ss a"));
						//$('#c_spn').html(moment().format("ddd, MMM D, h:mm:ss"));
					}	
				});
			}, interval);  // Interval = 5000ms

			// UPDATE RANGE
			$(document).on('change', 'input:radio[id^="r_opt_"]', function (event) {
				//alert("I am about to POST this:\n\n" + dat.range);
				//var range = $(this);
				var range = $(this);
				var contents = range.parent().contents();
				var rangetxt = contents.slice(contents.index(range) + 1, contents.index(range) + 2);
				//console.log("rangetxt: " + rangetxt.text());
				$.post(
					$('#form_range').attr("action"),
					{'range' : range.val()},
					function(data, status) {
						//alert("Status: " + status + "\nData: " + data);
						$('#p_s_div').html(data.plotscript);
						$('#p_d_div').fadeOut();
						$('#p_d_div').html(data.plotdiv);
						$('#p_d_div').fadeIn();
						$('#r_div').attr({"class" : "row justify-content-center text-primary"});
						$('#r_div').html("Range changed to " + rangetxt.text());
					},
					'json',
				)
			});
			
			// SHOW LATEST IMAGE
			var image = String("{{ img }}");
			//console.log(image);
			$('#c_vwr').append('<img></img>');
			$('#c_vwr').children('img').attr({"src" : {{ url_for('static', filename='') }} + image, "class" : "img-fluid rounded", "id" : "c_img"});
			var ts = moment().format("ddd, MMM D, h:mm:ss");
			$('#c_spn').html(ts);
			
			$(document).on('change', '#c_img', function() {
				console.log("!")
			});
			
			// TAKE IMAGE
			$(document).on('click', '#c_btn', function (event) {
				//alert("c_btn clicked");
				$('#c_row').children('div').toggle();
				$.post(
					$(this).attr("action"),
					{},
					function(data, status) {
						//alert("Status: " + status + "\nData: " + data);
						//console.log(data);
						var imgpath = {{ url_for('static', filename='') }};
						imgpath = imgpath + data.img;
						ts = moment(data.timestamp, "YYYYMMDD_HHmmss");
						//var ts = Date(data.timestamp);
						//console.log(ts.format("ddd, MMM D, h:mm:ss a"));
						$('#c_row').children('div').toggle();
						$('#c_vwr').fadeOut();
						$('#c_vwr').empty();
						$('#c_vwr').append('<img></img>');
						$('#c_vwr').children('img').attr({"src" : imgpath, "class" : "img-fluid rounded", "id" : "c_img"});
						$('#c_sbtn').show()
						$('#c_vbtn').show()
						$('#c_vwr').fadeIn();
						$('#c_spn').html(ts.format("ddd, MMM D, h:mm:ss a"));
					},
					'json',
				)
			});
			
			// SHOW STREAM
			$(document).on('click', '#c_sbtn', function (event) {
				$('#c_row').children('div').toggle();
				$('#c_vwr').empty();
				
				$('#c_vwr').append('<img></img>');
				$('#c_vwr').children('img').attr({"src" : "{{ url_for('monitor.stream') }}", "class" : "img-fluid rounded", "id" : "c_img"});
				ts = moment().format("ddd, MMM D, h:mm:ss");
				$('#c_spn').html(ts);
				$('#c_sbtn').hide()
				$('#c_vbtn').show()
				$('#c_vwr').fadeIn();
				$('#c_row').children('div').toggle();
				
				
			});
			
			// SHOW VIDEO
			$(document).on('click', '#c_vbtn', function (event) {
				$.post(
					"{{ url_for('monitor.cam_utils', op='kill') }}",
					{},
					function(data, status) {
						console.log("Status: " + status + "\nData: " + data)
					},
					'json',
				);
				$('#c_row').children('.col-3').toggle();
				var txt1 = $("<div></div>").attr({"class" : "embed-responsive embed-responsive-4by3", "type": "video/mp4"});
				var txt2 = $("<video></video>").attr({"class" : "embed-responsive-item", "src" : "{{ url_for('static', filename='videos/test.mp4') }}", "controls" : ""});
				$('#c_vwr').empty();
				$('#c_vwr').append($("<div></div>").append(txt1));
				$('.embed-responsive').append(txt2);
				$('#c_vbtn').hide()
				$('#c_sbtn').show()
				$('#c_vwr').fadeIn();
				$('#c_row').children('.col-3').toggle();
				
				
			});
			
			
			
		});
	</script>
	
{% endblock %}

{% block header %}
<div class="container" align="center">
	<h3>{% block title %}Temp Sensor Monitor{% endblock %}</h3>
</div>
{% endblock %}

{% block navcol %}
	{% if g.user %}
		<div class="container">
			<div class="row">
				<div class="col">
					<p><b>BAWK BAWK</b></p>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	{% if g.user %}
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-1">
				</div>
				<div class="col">
					<!-- <form class="form-inline" method="post">
						<label class="mb-2 mr-sm-2" for="pollfreq">Polling Frequency (seconds)</label>
						<input class="form-control mb-2 mr-sm-2" name="pollfreq" id="pollfreq" value={{ pollfreq }}>
						<button type="submit" class="btn btn-primary mb-2" value="Login">Submit</button>
					</form> -->
					
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-1">
				</div>
				<div class="col-3 bg-info text-white">
					Poll freq (s): {{ pollfreq }}
				</div>
				
				<div class="col-4 bg-info text-white" id="curr">
					<!-- <label id="currspin"> -->
						<!-- <img src="{{ url_for('static', filename='spinner-rosetta-gray-24x24.gif') }}" class="mx-auto d-block"/> Polling... -->
						<label id="currspin">
							<i class="fas fa-spinner fa-pulse"></i> Polling...
						</label>
					<!-- </label> -->
					<span id="currtext"></span>
					<span id="currtemp"></span><br>
					<span id="currdate"></span>
				</div>
				
				<div class="col-1">
				</div>
			</div>
			<br>
			<div class="row justify-content-center">
				<form action="{{ url_for('monitor.index') }}" method="post" id="form_range">
				<div id="tr_opt" class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-info active" id="l_opt_1">
						<input type="radio" name="options" id="r_opt_1" value="600" autocomplete="off" checked=""> 10m
					</label>
					<label class="btn btn-info" id="l_opt_2">
						<input type="radio" name="options" id="r_opt_2" value="1800" autocomplete="off"> 30m
					</label>
					<label class="btn btn-info" id="l_opt_3">
						<input type="radio" name="options" id="r_opt_3" value="3600" autocomplete="off"> 1h
					</label>
					<label class="btn btn-info" id="l_opt_4">
						<input type="radio" name="options" id="r_opt_4" value="86400" autocomplete="off"> 1d
					</label>
					<label class="btn btn-info" id="l_opt_5">
						<input type="radio" name="options" id="r_opt_5" value="604800" autocomplete="off"> 7d
					</label>
				</div>
				</form>
			</div>

			<br>
			<div class="row justify-content-center" id="r_div"></div>
			<br>
			
			<div class="row-fluid">
				<div class="col" id="p_d_div">
					{{ plot_div | safe }}
				</div>
			</div>
			<br>
			<div class="row justify-content-center">
				
				<!-- <form action="javascript:alert( 'Bawk!' );" method="post" id="form_range"> -->
				<br>
			</div>
			
			<!-- CAMERA VIEWER -->
			<div id="cv_div">
				<div class="row" id="c_row">
					<div class="col">
						<button type="button" class="btn btn-info" id="c_btn" action="{{ url_for('monitor.cam_image') }}"><i class="fas fa-camera-retro"></i> Take Image </button>
						<button type="button" class="btn btn-info" id="c_sbtn"><i class="fas fa-video"></i> Show Stream </button>
						<button type="button" class="btn btn-info" id="c_vbtn"><i class="fas fa-video"></i> Show Video </button>
					</div>
					<div class="col-3" style="display: none;">
						<button type="button" class="btn btn-info"><i class="fas fa-spinner fa-pulse"></i> Processing... </button>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col">
						<span id="c_spn"></span>
						<br>
						<div id="c_vwr"></div>
					</div>
				</div>
			</div>
			
		</div>
		
		<br><br>
	</body>
	{% endif %}
	
{% endblock %}